*{
    font-family: 'Quicksand', sans-serif; 
    margin: 0;
    padding: 0px;
    box-sizing: content-box;
    list-style: none;
} 
button{
    cursor: pointer;
}
body{
    background-image: url("../images/certificado-phtelecom.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
body div, article, aside, footer, section{
    background-color: #fff;
}
img{
    max-width: 100%;
}
.header-nav{
    width: 100%;
    height: auto;
    min-height: 60px;
    position: fixed;
    z-index: 11;
    font-family: 'Source Sans Pro', sans-serif; 
    background: #5902EC;

}
.header-nav .icon-nav{
    border-radius: 100%;
    margin: 10px;
    border: 0.5px solid #FFF;
}
.header-nav nav{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.header-nav nav ul{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
}
.menu-nav li{
    display: block;
    list-style: none;
    text-align: center;
    line-height: 50px;
    width: fit-content;
    min-width: 100px;
}
.menu-nav li:hover{
    background: #2440d1; 
    transition: 1s;
}
nav:checked ~ .menu-nav{
    display: none;
    transition: 10s;
}

.menu-nav li a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 10px;
    font-weight: 900;
}
.btn-menu-apps{
    display: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 50px;
    margin: 5px;
    width: auto;
    height: 50px;
    color: #fff;
    position: absolute;
    left: 0;
    transition: all 1s;
}
.btn-menu-apps-active{
    display: none;
}
main{
    padding-top: 60px;
    display: flex;
    flex-direction: column;
}
#profile{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#profile h1,
#profile h3,
#profile ul,
#profile p
{
    margin-top:25px;
    margin-bottom:25px;
}
#profile article{
    flex-grow: 1;
    text-align: center;
    border-radius: 0 100% 0 0;
    border-top: #E04DB0 1px solid;
}
#profile aside{
    flex-grow: 2;
    text-align: center;
    border-top: #E04DB0 1px solid;
    border-radius: 100% 20px 0 0;
}
#profile aside h1{
    font-size: 30px;
    margin-top: 2em;
}
#profile aside p{
    color: #E04DB0;
    max-width: 650px;
    font-size: 24px;
    margin: auto;
}
#profile .icon-profile{
    border-radius: 100%;
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 25px;
}
#references{
    background-image: url(../images/div-effect.png);
    min-height: 919px;
    background-position: bottom;
    text-align: center;
    background-color: transparent;
    color: #FFF;
    text-shadow: #eee 2px 2px 2px 2px;
}
#references h3{
    margin-top: 250px;
    font-size: 40px;
    font-weight: 900;
}
#references h5{
    font-size: 30px;
    font-weight: 300;
}
.projetos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.projetos > div{
    width: 33.3333%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.projetos div *{
    display: block;
}
.projetos div figure,
.projetos div figure figcaption,
.projetos div figure figcaption img{
    width: auto; 
    margin: 0 auto;
    padding: 0;
}
.projetos div figure{
    width: auto;
    max-width: 350px;
    min-width: 300px;
    height: 90%;
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}
.projetos div figure figcaption{
    margin: 10px;
    height: 30%;
    border-top: solid #eee 0.1px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.projetos div figure figcaption p{
    font-family: 'Source Sans Pro', sans-serif; 
    max-width: fit-content;
    text-align: justify;
    padding-top: 10px;
    padding-bottom: 10px;
    text-indent: 10px;
}

.projetos div figure figcaption a{
    border-radius: 3px;
    background-color: #5902EC;
    display: flex;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    color: #fff;
    text-decoration: none;
    width: 100%;
}
#formatura{
    text-align: center;
}
footer{
    display: flex;
    flex-direction: column;
}
footer > div,
footer > p{
    display: inline-flex;
    justify-content: space-around;
}
#skills{
    margin-top: 2em !important;
    font-size: 30px;
}
#skills, .skills-details{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.skills-details{
    color: #E04DB0;
}

.skills-details{
    text-align: left;
}
#formatura{
    display: flex;
    flex-direction: row;
    flex-wrap: unset;
    align-items: center;
}
#formatura > div{
    width: 50%;
}
.img-formatura{
    width: 100%;
    height: 28em;
}
#contato{
    display: flex;
    flex-direction: column;
}
#contato p{
    min-height: 5em;
    background-color: #000;
    color: #fff;
    align-items: center;
    font-weight: 800;
    padding-left: 20px;
    padding-right: 20px;
}
#contato .form-main{
    display: flex;
}
#contato .form-main div{
    width: 50%;
}
.form-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFA4D;
    padding: 30px 0 30px 0;
}
.form-content form {
    display: contents;
}
.form-content form label {
    width: 70%;
    display: block;
    margin-top: 20px;
    max-width: 350px;
}
.form-content form input{
    width: 99%;
    height: 40px;
    border: #E04DB0 1px solid;
    text-indent: 10px;
    border-radius: 5px;
}
.form-content form button{
    background-color: #E04DB0;
    border-style: none;
    color: #FFF;
    font-weight: 900;
    font-size: large;
    width: 70%;
    line-height: 50px;
    margin-top: 10%;
    max-width: 350px;
}
.content-redes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 28px;
}

.content-redes img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}
.content-redes > div{
    display: contents;
}
input:focus{
    box-shadow: #e04db0 0px 0px 0px 1px;
    outline: #e04db0;
    transition: 0.2s;
}
#content-text-forma{
    background-color: transparent;
}
.msg-success, 
.msg-error{
    display: block;
    font-weight: 900;
    padding-top: 5px;
}
.msg-success{    
    color: green;
}
.msg-error{
    color: red;
}
.modal-hide{
    display: none !important;
}
.modal-show{
    display: flex !important;
}
.modal{
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 10;
    background-color: rgba(204,204,204,0.5);
    align-items: center;
    justify-content: center;
    overflow: auto;
}
.modal-content{
    border-radius: 5px;
    overflow: hidden;
    width: auto;
    min-width: 600px; 
    max-width: 750px;
    height: auto;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.modal .header{
    display: block;
    position: relative;
}
.modal .title{
    display: inline-block;
    padding: 10px 15px;
    font-size: 20px;
}
.modal .close-icon{
    position: absolute;
    right: 0px;
    padding: 10px;
    font-weight: 900;
    cursor: pointer;
}
.modal .body{
    text-align: center;
}
.modal .footer{
    text-align: end;
    padding: 5px;
}
.modal .footer button{
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
    padding: 10px 15px;
    outline: auto;
    border-radius: 5px;
    font-weight: 900;
}
.modal .footer button:hover{
    background-color: #5a6268;
    border-color: #545b62;
}
.nav-active{
    display: none;
}
.content-img-project{
    border-radius: 3px;
    width: 100%;
    height: 350px;
    margin: 0;
    padding: 0px;
    overflow: hidden;
}
.img_project{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.titulo-img-project{
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 20px;
}
.project-git{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
}
.project-card > *{
    width: 100%;
    max-width: 300px;
    margin: auto;

}
.project-card > div{
    color: #f2f2f2;
    font-size: 70px;
}
@media screen and (max-width:700px) {
    .header-nav nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
        height: 60px;
        overflow: hidden;
        transition: all 1s;
    }
    .header-nav nav ul{
        display: block;
        width: 100%;
    }    
    .menu-nav li{
        width: inherit;
    }
    #references h3{
        font-size: 25px;
    }
    .modal-content{
        width: auto;
        max-width: 700px;
        min-width: 95% !important; 
        height: auto;
        min-height: 200px;
    }
    .header-nav .icon-nav{
        visibility: hidden;
    }
    .btn-menu-apps{
        display: block;
    }
    .btn-menu-apps-active{
        display: block;
        transform: rotate(45deg);
    }
    .nav-active{
        display: block;
        height: 490px !important;
        overflow: auto !important;
    }
    .project-git{
        grid-template-columns: 1fr 1fr;
    }
    
}
@media screen and (max-width:1024px) {
    #formatura{
        display: block;
        position: relative;
        min-height: 400px;
    }
    #formatura > div{
        width: 100%;
    }
    #content-text-forma,
    #content-img-forma{
        display: block;
        width: 100%;
        position: absolute;
        height: 400px;
        overflow: hidden;
    }
    #content-text-forma{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 2;
        color: #FFF;
        font-size: large;
        font-weight: 900;
    }
    #content-img-forma{
        z-index: 1;
    }
    .projetos{
        display: inline-flex;
        flex-direction: unset;
        flex-wrap: wrap;
        max-height: 100%;
    }
    .projetos div {
        width: 100%;
        height: 500px;
    }
    #contato .form-main {
        display: flex;
        flex-direction: column;
    }    
    #contato .form-main div{
        width: 100%;
    }
    .content-redes{
        min-height: 300px;
    }
    #references h3{
        font-size: 35px;
    }
    .modal-content{
        width: auto;
        max-width: 500px;
        min-width: 70%; 
        height: auto;
        min-height: 200px;
    }
    .project-git{
        grid-template-columns: 1fr;
    }
}

