*{
    font-family: 'Source Sans Pro', sans-serif;  
    margin: 0;
    padding: 0px;
    box-sizing: content-box;
} 
img{
    max-width: 100%;
}
.header-nav{
    background: #0793df;
}
.header-nav img{
    border-radius: 100%;
    margin: 10px;
    border: 0.5px solid #FFF;
}
.header-nav nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header-nav nav ul{
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
}
.menu-nav li{
    display: block;
    list-style: none;
    text-align: center;
    line-height: 50px;
    width: fit-content;
    min-width: 100px;
}
.menu-nav li:hover{
    background: #0c88cb; 
    transition: 1s;
}
nav:checked ~ .menu-nav{
    display: none;
    transition: 10s;
}

.menu-nav li a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 10px;
    font-weight: 900;
}


@media screen and (max-width:700px) {
    .header-nav nav{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header-nav nav ul{
        display: block;
        width: 100%;
    }    
    .menu-nav li{
        width: inherit;
    }
}

